
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-e85183a3.png">
  <link rel="icon" type="image/png" href="/images/favicon-32x32-86f78ec8.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon-16x16-667a7d8e.png" sizes="16x16">
  <link rel="shortcut icon" href="/images/favicon.ico">

  <link href="/blog.xml" rel="alternate" title="Atom feed" type="application/atom+xml" />

  <title>About – Flynn</title>



  <link href="/stylesheets/application-540529f4.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav class="mnav">
  <ul>
    <li class="brand">
      <a href="/">
        <img src="/images/flynn-acaf9509.svg" alt="Flynn" />
      </a>
    </li>

    <li class="spacer"></li>

    <li class="item active">
      <a href="/about">About</a>
    </li>

    <li class="item ">
      <a href="/docs">Docs</a>
    </li>

    <li class="item ">
      <a href="/blog">Blog</a>
    </li>

    <li class="item ">
      <a href="/pricing">Pricing</a>
    </li>

    <li class="item btn">
      <a href="/docs/installation">Try</a>
    </li>
  </ul>
</nav>


    <section class="content-container top normal">
    <section class="content">
      <h1 >
<a name="our-vision" href="#our-vision" class="anchor">
<span >
§</span>
</a>
<span data-swiftype-name="title" data-swiftype-type="string">
Our Vision</span>
</h1>

<p><strong><em>To free everyone from operating software.</em></strong></p>
<h2 >
<a name="what-that-means-to-us" href="#what-that-means-to-us" class="anchor">
<span >
§</span>
</a>
<span data-swiftype-name="sections" data-swiftype-type="string">
What that means to us</span>
</h2>

<p>When we say <em>operating software</em> we mean all the tasks humans currently do to
run server side applications. Everything that goes into turning code into
a running app and all the services that back it. Building, installing, scaling
to multiple instances, provisioning and managing the databases, network, service
discovery, containers, virtual machines, and cloud resources that apps need.</p>

<p>When we say <em>free</em> we mean that it&rsquo;s your job to write your apps, and Flynn&rsquo;s to
do everything else.</p>

<p>When we say <em>everyone</em> we mean it. From a new programmer working on their first
project to multiple business units at a large multi-national company scaling to
their billionth user.</p>
<h2 >
<a name="how-we&#39;re-accomplishing-it" href="#how-we&#39;re-accomplishing-it" class="anchor">
<span >
§</span>
</a>
<span data-swiftype-name="sections" data-swiftype-type="string">
How we&rsquo;re accomplishing it</span>
</h2>

<p>We&rsquo;re building one product that will solve everything.</p>

<p>We&rsquo;re inspired by Apple products where everything just works out of the box. We
can solve problems faster, deliver more value, and provide the best user
experience when we control the entire toolchain from end-to-end.</p>

<p>We think of Flynn as an <em>open</em> black box. Everything just works but you can also
open it up, look inside, and change anything you want to.</p>

<p>We want to serve users who just have a problem they want solved as well as those
who want to know exactly how everything works and fix things themselves, because
we want both ourselves.</p>
<h2 >
<a name="why-we-chose-this-problem" href="#why-we-chose-this-problem" class="anchor">
<span >
§</span>
</a>
<span data-swiftype-name="sections" data-swiftype-type="string">
Why we chose this problem</span>
</h2>

<p>Operating software, &ldquo;ops&rdquo; for short, is a hard, expensive problem and a massive
barrier to entry whether you&rsquo;re trying to get a side project up and running or
launching a massive new product to a global audience.</p>

<p>Ops is a hard problem but it&rsquo;s not intractable. It can be automated. Computers
can do the boring, complex, repetitive tasks much better and faster than humans,
anyway.</p>

<p>Everyone on our team wanted these problems to be solved so they wouldn&rsquo;t have to
do ops on their own projects in the future. By saving countless hours of human
work it&rsquo;s also our way of making the world a better place and freeing people
to do what they really want to.</p>

    </section>
  </section>
