<title>Tous les cours de français</title>
<h1>Mes cours de français</h1>
<p>Bienvenue dans ce cours de français qui te permettra de rivaliser avec les meilleurs du secteur</p>

Choisissez votre catégorie





<ul>
<li><p><%=link_to "Grammaire Française", grammaire_francaise_path %> </p></li>
<li><p><%=link_to "Compréhension", comprehension_path %> </p></li>
<li><p><%=link_to "Vocabulaire Français", vocabulaire_francais_path %> </p></li>
</ul>
