<%= yield %>
<footer id="footer">
 <section class="content-container">
   <a href="/docs/installation" class="try-now-btn">
     Try Flynn Now
   </a>

   <section class="content-container centered">
     <form action="https://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate class="mailing-list-form">
 <h2>Mailing List</h2>
 <label>Email Address&nbsp;
   <input type="email" name="EMAIL" placeholder="you@example.com">
 </label>
 <button type="submit" name="subscribe">Subscribe</button>
</form>

   </section>
   <br/><br/><br/>

   <nav class="fnav">
     <ul>
       <li>
         <a href="https://github.com/flynn/flynn">Get the source on GitHub.</a>
       </li>

       <li>
         <a href="https://webchat.freenode.net?channels=flynn">Join us on IRC.</a>
       </li>

       <li>
         <a href="https://twitter.com/flynnscale">Follow us on Twitter.</a>
       </li>

       <li>
         <a href="/docs">Read the docs.</a>
       </li>

       <li>
         <a href="https://shop.flynn.io">Get some swag.</a>
       </li>

       <li>
         <a href="mailto:info@flynn.io">Email us.</a>
       </li>
     </ul>
   </nav>
 </section>

 <section class="copyright">
   Flynn is designed, built, and managed by Prime Directive, Inc.<br />
   &copy; 2013-2017 Prime Directive, Inc. Flynn® is a trademark of Prime Directive, Inc.<br />
   <a href="/legal/privacy">Privacy Policy</a> | <a href="/docs/trademark-guidelines">Trademark Guidelines</a>
 </section>
</footer>
